SUPABASE_URL=https://zavzopgnxsvsgiofcvic.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_zvfIKhKzrwurmRzbqaZqOw_bCbe2rup
SUPABASE_SECRET_KEY=
SUPABASE_JWKS_URL=https://zavzopgnxsvsgiofcvic.supabase.co/auth/v1/.well-known/jwks.json
